services:
  sync-service:
    build: ./sync-service
    image: sync-service
    volumes:
      # Config files
      - ./config/playlists.txt:/config/playlists.txt
      # Library
      - ${LIBRARY_PATH}:/library
    ports:
      - "${PORT_UPDATE_LIBRARY}:8080"