services:
  sync-service:
    build: ./sync-service
    image: local/sync-service
    restart: unless-stopped
    ports:
      - "${PORT_UPDATE_LIBRARY}:8080"
    volumes:
      - ${SERVER_DIR_PATH}/library:/library
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes (what is owner?)
    ports:
      - "${PORT_NAVIDROME}:4533"
    restart: unless-stopped
    volumes:
      - "${SERVER_DIR_PATH}/navidrome:/data"
      - "${SERVER_DIR_PATH}/library:/music:ro"