services:
  sync-service:
    build: ./sync-service
    environment:
      - LMS_API_KEY=${LMS_API_KEY}
      - LMS_API_VERSION=${LMS_API_VERSION}
      - SECRET_UPDATE_LIBRARY=${SECRET_UPDATE_LIBRARY}
    image: ${REGISTRY_ADDRESS}/sync-service
    restart: always
    ports:
      - "${PORT_UPDATE_LIBRARY}:8080"
    volumes:
      - ${MUSIC_STORAGE_PATH}/library:/library
      - ${MUSIC_STORAGE_PATH}/sync-service:/sync-service
      - ./playlists.txt:/playlists.txt
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "${PORT_MUSIC_SERVER}:4533"
    profiles: ["NAVIDROME"]
    restart: always
    volumes:
      - "${MUSIC_STORAGE_PATH}/navidrome:/data"
      - "${MUSIC_STORAGE_PATH}/library:/music:ro"
  lms:
    image: epoupon/lms
    restart: always
    user: 1000:1000
    ports:
      - ${PORT_MUSIC_SERVER}:5082
    profiles: ["LMS"]
    volumes:
      - ${MUSIC_STORAGE_PATH}/lms:/var/lms:rw
      - ${MUSIC_STORAGE_PATH}/library:/music:ro
  watchtower:
    image: containrrr/watchtower
    restart: always
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    command: --interval 30
      --cleanup
