services:
  sync-service:
    build: ./sync-service
    environment:
      - LMS_API_KEY=${LMS_API_KEY}
      - LMS_API_VERSION=${LMS_API_VERSION}
    image: local/sync-service
    restart: unless-stopped
    ports:
      - "${PORT_UPDATE_LIBRARY}:8080"
    volumes:
      - ${MUSIC_STORAGE_PATH}/library:/library
      - ${MUSIC_STORAGE_PATH}/sync-service:/sync-service
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    ports:
      - "${PORT_MUSIC_SERVER}:4533"
    profiles: ["NAVIDROME"]
    restart: unless-stopped
    volumes:
      - "${MUSIC_STORAGE_PATH}/navidrome:/data"
      - "${MUSIC_STORAGE_PATH}/library:/music:ro"
  lms:
    image: epoupon/lms
    restart: unless-stopped
    user: 1000:1000
    ports:
      - ${PORT_MUSIC_SERVER}:5082
    profiles: ["LMS"]
    volumes:
      - ${MUSIC_STORAGE_PATH}/lms:/var/lms:rw
      - ${MUSIC_STORAGE_PATH}/library:/music:ro
