services:
  app:
    build:
      dockerfile: Dockerfile.prod
    environment:
      - NODE_ENV=production
    volumes: []

  watchtower:
    image: containrrr/watchtower
    restart: always
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true # Remove old images after updating
      - WATCHTOWER_POLL_INTERVAL=30 # Check for updates every 30 seconds
      - WATCHTOWER_INCLUDE_STOPPED=false # Only update running containers
