.albums-list-item {
  font-family: Georgia, serif;
  width: 100%;
  padding: 0.5em;

  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: orange;
  }

  &__status {
    margin: 0;
  }
}
