services:
  caddy:
    build: ./caddy
    container_name: caddy
    cap_add:
      - NET_ADMIN
    environment:
      - LETS_ENCRYPT_EMAIL=$LETS_ENCRYPT_EMAIL
    image: ${REGISTRY_ADDRESS}/caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    restart: always
    volumes:
      - caddy_data:/data
      - caddy_config:/config

  authelia:
    container_name: "authelia"
    image: "docker.io/authelia/authelia:latest"
    restart: "always"
    environment:
      TZ: Europe/Copenhagen
      AUTHELIA_SESSION_SECRET_FILE: "/secrets/SESSION_SECRET"
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: "/secrets/STORAGE_ENCRYPTION_KEY"
    ports:
      - "9091:9091"
    volumes:
      - "./authelia/config/configuration.yml:/config/configuration.yml"
      - "./authelia/secrets:/secrets"
      - "${AUTHELIA_STORAGE_PATH}/data:/data"
  
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    ports:
      - "5230:5230"
    volumes:
      - ${MEMOS_STORAGE_PATH}:/var/opt/memos
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
