@use '../breakpoints';

.albums-page {
  display: flex;
  flex-direction: column;

  &__back-link {
    position: absolute;
    left: 1em;
    top: 0.5em;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 1em;

    position: absolute;
    left: 1.5em;
    top: 2em;

    p {
      color: white;
    }
  }

  @media (min-width: breakpoints.$sm) {
    &__contents {
      top: 3em;
    }
  }

  @media (min-width: breakpoints.$md) {
    &__contents {
      top: 4em;
    }
  }
}
