@use '../breakpoints';

.index-page {
  .pagelink {
    position: absolute;
  }

  .albums-link {
    top: 1rem;
    left: 0.5rem;
  }

  .playlists-link {
    top: 2.5rem;
    left: 1rem;
  }

  .browse-link {
    top: 5rem;
    left: 3rem;
  }

  @media (min-width: breakpoints.$sm) {
    .albums-link {
      left: 2rem;
      top: 0rem;
    }

    .playlists-link {
      top: 3rem;
    }

    .browse-link {
      top: 7rem;
      left: 0.5rem;
    }
  }

  @media (min-width: breakpoints.$md) {
    .albums-link {
      left: 4rem;
      top: 1.5rem;
    }

    .playlists-link {
      top: 5.5rem;
      left: 6rem;
    }

    .browse-link {
      top: 12rem;
      left: 2rem;
    }
  }
}
