@use '../../breakpoints';

.pagelink {
  font-family: Georgia, serif;
  min-width: 0;
  word-break: break-all;

  border-radius: 5px;

  cursor: pointer;

  // button style reset
  background: transparent;
  border: none;
  padding: 0;

  &:hover span {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px solid yellow;
    outline-offset: 4px;
  }

  font-size: 1.25em;

  &--small {
    font-size: 1em;
  }

  &--large {
    font-size: 1.5em;
  }

  @media (min-width: breakpoints.$sm) {
    font-size: 1.25em;

    &--small {
      font-size: 1.5em;
    }

    &--large {
      font-size: 2em;
    }
  }

  @media (min-width: breakpoints.$md) {
    font-size: 2.5em;

    &--small {
      font-size: 2em;
    }

    &--large {
      font-size: 4em;
    }
  }
}
