{
	email {env.LETS_ENCRYPT_EMAIL}
}

# Localhost
# Authentication gateway
auth.wbu.localhost, www.auth.wbu.localhost {
	reverse_proxy authelia:9091
}
# Music server
music.wbu.localhost, www.music.wbu.localhost {
	# Subsonic API bypasses authentication (LMS handles auth here)
	handle_path /subsonic/* {
		rewrite * {path}
		reverse_proxy host.docker.internal:4533
	}

	handle {
		forward_auth authelia:9091 {
			uri /api/authz/forward-auth

			copy_headers {
				Remote-User>X-Forwarded-User
				Remote-Groups>X-Forwarded-Groups
				Remote-Email>X-Forwarded-Email
				Remote-Name>X-Forwarded-User-Display-Name
			}
		}

		# API
		handle_path /api/* {
			rewrite * {path}
			reverse_proxy host.docker.internal:5000
		}

		# LMS
		handle_path /lms/* {
			rewrite * {path}
			reverse_proxy host.docker.internal:4533
		}

		# APP
		handle {
			reverse_proxy host.docker.internal:3000
		}
	}
}

# Prod
# Authentication gateway
auth.wbu.dk, www.auth.wbu.dk {
	reverse_proxy authelia:9091
}
# Music server
music.wbu.dk, www.music.wbu.dk {
	# Subsonic API bypasses authentication (LMS handles auth here)
	handle_path /subsonic/* {
		rewrite * {path}
		reverse_proxy host.docker.internal:4533
	}

	handle {
		forward_auth authelia:9091 {
			uri /api/authz/forward-auth

			copy_headers {
				Remote-User>X-Forwarded-User
				Remote-Groups>X-Forwarded-Groups
				Remote-Email>X-Forwarded-Email
				Remote-Name>X-Forwarded-User-Display-Name
			}
		}

		# API
		handle_path /api/* {
			rewrite * {path}
			reverse_proxy host.docker.internal:5000
		}

		# LMS
		handle_path /lms/* {
			rewrite * {path}
			reverse_proxy host.docker.internal:4533
		}

		# APP
		handle {
			reverse_proxy host.docker.internal:3000
		}
	}
}
